.nav-bar {
  width: 100%;
  background-color: #424558;
  grid-area: nav;
}
.nav-list {
  display: flex;
  justify-content: center;
}
.nav-item {
  list-style: none;
  margin-left: 50px;
}
.nav-link {
  text-decoration: none;
}

.nav-bar h1 {
  font-size: 10px;
  text-transform: capitalize;
  color: white;
  font-size: 2em;
  height: 60px;
  padding: 10px;
}
.nav-bar h1:hover {
  background-color: #111;
}
