* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Itim", cursive;

  background-color: #dc80805c;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 60px 1fr 40px;
  grid-template-areas:
    "nav nav nav nav nav nav nav "
    "main main main main main main main"
    "ft ft ft ft ft ft ft ";
}
